<footer
  class="bg-[url('/assets/images/bgFooter.png')] bg-cover bg-center w-full grid grid-cols-2 grid-rows-2 md:flex md:items-center md:justify-between gap-1 p-8">
  <figure class="flex items-center justify-center col-span-2 md:order-last space-x-3 p-4 rounded-lg md:justify-end text-white">
    <fa-icon [icon]="faCode" size="lg" class="text-white" />
    <figcaption class="text-xl font-bold tracking-wide">Dev Luan Paiva</figcaption>
  </figure>
  <small class=" text-center text-white text-base col-span-1 md:order-first ">&copy;
    2025 Grupo Alura. Todos os direitos reservados.
  </small>
  <img class="col-span-1 ml-auto md:ml-0" src="/assets/images/logo-alura.png" alt="Logo da Alura">

</footer>
