<header class="flex flex-col md:flex-row items-center justify-between bg-[url('/assets/images/bgHeader.png')] bg-cover ">
  <figure class="w-full md:w-[46%] p-10">
    <img src="/assets/images/logo-memoteca.png" alt="logo-memoteca.png" class="w-[90%] max-w-[350px] mb-8" >
    <figcaption class="text-xl sm:text-2xl md:text-3xl text-[#6bd1ff]">Guarde trechos de músicas, citações de livros, pensamentos e suas melhores ideias.</figcaption>
  </figure>
  <img src="/assets/images/headerPC.png" alt="Imagem de um computador"  class="w-full md:w-[40%]">
</header>
